// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  --ion-font-family: 'Roboto', sans-serif;
  /* Replace 'Your Font Name' with the actual font name from Google Fonts */
}
