/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */

* {
  font-family: 'Roboto', sans-serif !important;
}

@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


/* Dim + Blur Background */
ion-modal.new-visit-modal::part(backdrop) {
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(3px);
}

ion-modal.new-visit-modal::part(content) {
  border-radius: 10px;
  width: 92%;
  max-height: 440px;
  margin: auto;
  margin-top: 140px;
  overflow: visible;
  box-shadow: 0 8px 25px rgba(0,0,0,0.25);
}

/* Reschedule Modal Styling */
ion-modal.reschedule-modal::part(backdrop) {
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(3px);
}

ion-modal.reschedule-modal::part(content) {
  border-radius: 12px;

  width: 92%;
  max-width: 380px;

  max-height: 460px;

  margin: auto;           /* ✅ CENTER */
  margin-top: 140px;      /* ✅ VERTICAL POSITION */

  box-shadow: 0 8px 25px rgba(0,0,0,0.25);
}



ion-modal.new-collection-plan-modal::part(backdrop) {
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(3px);
}

ion-modal.new-collection-plan-modal::part(content) {
  border-radius: 10px;
  width: 92%;
  max-height: 440px;
  margin: auto;
  margin-top: 140px;
  overflow: visible;
  box-shadow: 0 8px 25px rgba(0,0,0,0.25);
}

html, body {
  overflow: hidden !important;
}