.modal-wrapper {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
}


/* HEADER */
.modal-header {
  position: relative; /* IMPORTANT */

  background: #0b5fa5;
  color: #fff;

  padding: 14px 16px;
  text-align: center;
}

/* Center text */
.header-text h2 {
  margin: 0;
  font-size: 17px;
  font-weight: 600;
}

.header-text p {
  margin: 2px 0 0;
  font-size: 12px;
  opacity: 0.9;
}

/* Close icon fixed top-right */
.close-icon {
  position: absolute;
  top: 12px;
  right: 12px;

  font-size: 22px;
  cursor: pointer;
}



/* BODY */
.modal-body {
  padding: 16px;
}


/* FORM */
.form-group {
  margin-bottom: 14px;
}

.form-group label {
  font-size: 13px;
  color: #555;
  margin-bottom: 4px;
  display: block;
}

.form-group label span {
  color: red;
}

.form-group ion-input,
.form-group ion-textarea {
  --background: #f3f3f3;
  border-radius: 6px;
  padding: 6px 8px;
}

ion-textarea {
  min-height: 80px;
}


/* FOOTER */
.modal-footer {
  padding: 12px 16px 18px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
